.sidebar_show {
  width: 66.666667%;
  position: absolute;
  top: 0;
  height: 100vh;
  opacity: 0.9;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  z-index: 10;
  right: 0;
  transition: 0.5s;
}
.sidebar_hidden {
  width: 66.666667%;
  position: absolute;
  top: 0;
  height: 100vh;
  opacity: 0.9;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  z-index: 10;
  right: -66.666667%;
  transition: 0.5s;
}
